
files:
   "/etc/filebeat/filebeat.yml":
        mode: "000755"
        owner: root
        group: root
        content: |
            filebeat:
                prospectors:
                    -
                        paths:
                            - /var/app/current/logs/*.log
                        fields:
                            logzio_codec: plain
                            token: vXEWzSgTxRcuJFFJaASREGVUinvEWHmE
                            app: web
                        fields_under_root: true
                        encoding: utf-8
                        ignore_older: 3h
                        multiline:
                            pattern: '(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})'
                            negate: true
                            match: after
                registry_file: /var/lib/filebeat/registry

            output:
                logstash:
                    hosts: ["listener.logz.io:5015"]

                tls:
                    certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']

                ssl:
                    certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']
                    
commands:
 1_command:
    command: "curl -L -O curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-6.2.1-x86_64.rpm"
    cwd: /home/ec2-user
 2_command:
    command: "rpm -ivh --replacepkgs filebeat-6.2.1-x86_64.rpm"
    cwd: /home/ec2-user
 3_command:
    command: "mkdir -p /etc/pki/tls/certs"
    cwd: /home/ec2-user
 4_command:
    command: "wget https://raw.githubusercontent.com/logzio/public-certificates/master/COMODORSADomainValidationSecureServerCA.crt"
    cwd: /etc/pki/tls/certs   
 5_command:
    command: "/etc/init.d/filebeat start"